[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tf-keras = "*"
streamlit = "*"
google-genai = "*"
transformers = "*"
tensorflow = "*"
torch = "*"
git-lfs = "*"
llama-cpp-python = "*"
nltk = "*"
pymupdf = "*"
gensim = "*"
sentence-transformers = "*"
python-docx = "*"
chromadb = "*"
pypdf2 = "*"
pypdf = "*"
google-ai-generativelanguage = "==0.6.15"
langchain = {extras = ["google-genai"], version = "*"}
langchain-community = "*"
langchain-text-splitters = "*"
faiss-cpu = "*"
beautifulsoup4 = "*"
langgraph = "*"
langsmith = "*"

[dev-packages]

[requires]
python_version = "3.12"
