[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tf-keras = "*"
streamlit = "*"
google-genai = "*"
transformers = "*"
tensorflow = "*"
torch = "*"
git-lfs = "*"
llama-cpp-python = "*"
nltk = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
